<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Used the card component from  https://ionicframework.com/docs/api/card -->
  <!-- The for loop will loop through all the countries and display each property defined in the code-->
  <!--The atributes are found from the console.logs used in the CountriesPage class -->
  <ion-card *ngFor="let country of countries">
    <img alt="CountryFlag" src="{{country.flags.png}}" />
    <ion-card-header>
      <ion-card-title>{{country.name.common}}</ion-card-title>
     </ion-card-header>

     <ion-button>News</ion-button>
     <br>
     <ion-button>Weather</ion-button>  
   
  </ion-card>
</ion-content>
