<app-header2></app-header2>




<ion-content [fullscreen]="true" *ngIf="weatherLocations !== null">
  <ion-card *ngFor=" let location of weatherLocations" >
    <img  [src]="'https://openweathermap.org/img/wn/' + location.weather[0].icon + '@2x.png'" alt="Weather Icon" />
      
    
   
    <ion-card-header>
      <ion-card-title>Weather in {{location.name}} is {{location.weather[0].description}} </ion-card-title>
      <ion-card-subtitle>Current temperature: {{location.main.temp}}</ion-card-subtitle>
    </ion-card-header>
    <ion-button (click)="removeItem(location.id)" >Remove location</ion-button>
  </ion-card>
  
  

  
</ion-content>
