<app-header2></app-header2>




<ion-content [fullscreen]="true">
  <ion-card *ngIf="weather?.weather?.[0] ">
    <img [src]="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'" alt="Weather Icon" />
      
    
   
    <ion-card-header>
      <ion-card-title>Weather in {{city}} is {{weather.weather[0].description}} </ion-card-title>
      <ion-card-subtitle>Current temperature: {{weather.main.temp}}</ion-card-subtitle>
    </ion-card-header>
    <ion-button (click)="saveWeatherLocations()">Save Location</ion-button>
  </ion-card>
  
  

  
</ion-content>

