<app-header2></app-header2>



    
<ion-content [fullscreen]="true" >

 <!-- Display message when news is not fetched -->
 <div class="noWeatherData" *ngIf="!weatherIsFetched">
  <ion-text>
    No weather information for {{ country }}.
  </ion-text>
</div>

<div *ngIf="weatherIsFetched">
  <ion-input placeholder="Search for a location" required="true"  [(ngModel)]="userLocationInput"></ion-input>
  <ion-button (click)="getUserInputLocationCoordinates()">Search</ion-button>
</div>
  

  <div class="errorMessage">
    <ion-text *ngIf="isError">
      {{message}}
     </ion-text>
  </div>
  

  <ion-card *ngIf="capitalWeather !== null">
    <ion-card-title>{{capital}}</ion-card-title>
    <img  [src]="'https://openweathermap.org/img/wn/' + capitalWeather.weather[0].icon + '@2x.png'" alt="Weather Icon" />
      
    
   
    <ion-card-header>
      <ion-card-title>{{capitalWeather.weather[0].description}}</ion-card-title>
      
      
      <ion-card-subtitle>{{capitalWeather.main.temp}} ({{units}})</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
   
  <div class="savedLocations"*ngIf="weatherLocations !== null">

 
  
  <ion-card *ngFor=" let location of weatherLocations" >
    <ion-card-title>{{location.name}}</ion-card-title>
    <img  [src]="'https://openweathermap.org/img/wn/' + location.weather[0].icon + '@2x.png'" alt="Weather Icon" />
      
    
   
    <ion-card-header>
      <ion-card-title>{{location.weather[0].description}} </ion-card-title>
      <ion-card-subtitle>{{location.main.temp}} ({{units}})</ion-card-subtitle>
    </ion-card-header>
   
    <ion-button (click)="removeLocation(location.id)" >Remove location</ion-button>
  </ion-card>


  </div>
  
  
  

  
</ion-content>



