
.errorMessage{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}

  

ion-content {
  --background: #f0f4f7;
  padding: 15px;
}

ion-input {
  text-align: center;
  color: black;
  margin-bottom: 12px;
  border: 1px solid #f0d4d4;
  border-radius: 8px;
  padding: 8px 12px;
  background: white;
}

ion-button {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  --background: rgb(51, 139, 216);

}

/* Weather Card Styling */
ion-card {
  border-radius: 16px;
  text-align: center;
  margin-bottom: 16px;
  background-color: rgb(127, 176, 218);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 8px 12px;
}

ion-card-subtitle {
  font-size: 1rem;
  margin: 4px 12px;
  opacity: 0.8;
  color: rgb(30, 27, 27); /* Set your desired color */
}

/* Saved Locations */
.savedLocations {
  margin-top: 20px;
  align-items: center;
}

.savedLocations ion-card {
  background: rgb(120, 183, 210);
}
ion-text {
  color: rgb(208, 75, 75);
  text-align: center;
  margin-top: 8px;
}


.savedLocations ion-button {
  width: 90%;
  margin: 12px;
  --border-radius: 20px;
  --background: #ea797b;

}

  
.noWeatherData{
  margin-top: 30px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold ;
}

.capitalCard{
    color: black;

}