<app-header2></app-header2>

<!--



ion-content [fullscreen]="true" *ngIf="cities && cities.length > 0" >

 <div class="cities" *ngFor="let city of cities">
 Passing the latitude and longitude to the weather page
<ion-button [routerLink]="['/weather', city.name, city.latitude, city.longitude]">Weather for {{city.name}}</ion-button>
</div>

<ion-input placeholder="Input your location" [(ngModel)]="userLocationInput"></ion-input>
<ion-button (click)="getUserInputLocationCoordinates()">Weather for {{userLocationInput}}</ion-button>
</ion-content>
 The content will only render if the array is populate.This means it will wait until the data is returned-->

    
 

 <ion-content [fullscreen]="true" *ngIf="weatherLocations !== null">

  <ion-input placeholder="Input your location" [(ngModel)]="userLocationInput"></ion-input>
  <ion-button (click)="getUserInputLocationCoordinates()">Search</ion-button>
  
  <ion-card *ngFor=" let location of weatherLocations" >
    <img  [src]="'https://openweathermap.org/img/wn/' + location.weather[0].icon + '@2x.png'" alt="Weather Icon" />
      
    
   
    <ion-card-header>
      <ion-card-title>Weather in {{location.name}} is {{location.weather[0].description}} </ion-card-title>
      <ion-card-subtitle>Current temperature: {{location.main.temp}}</ion-card-subtitle>
    </ion-card-header>
   <!-- <ion-button (click)="removeItem(location.id)" >Remove location</ion-button>-->
  </ion-card>
  
  

  
</ion-content>



