.link{
    text-decoration: none;
   
}
.newsArticles{
    
}
ion-button {
    width: 100%;
  }

  .noNewsArticle{
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold ;
  }