<app-header2></app-header2>



<ion-content [fullscreen]="true"  >

 <!-- Shows a spinner when news items are loading-->
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner></ion-spinner>
    <p>Loading news...</p>
  </div>

  <!-- No news message  displayed if there is no news data for this country sent back from the API-->
  <div *ngIf="!isLoading && !newsIsFetched" class="ion-text-center">
    <p>No news available for this country</p>
  </div>
 <!-- ngIf makes sure the page wont try to load if the news retrieved is null-->
  <!-- Loops through the news articles and displays the data-->
  <div class="newsArticles" *ngIf="newsIsFetched && !isLoading">

    <div  *ngFor="let newsArticle of news">


      <a href="{{newsArticle.link}}" target="blank" class="link">
  
        <ion-card >
          <img alt="News Picture" src="{{newsArticle.image_url}}" />
          <ion-card-header>
            <ion-card-title>{{newsArticle.title}}</ion-card-title>
            <ion-card-subtitle>{{newsArticle.description}}</ion-card-subtitle>
          </ion-card-header>
        
          
        </ion-card>
        
  
      </a>
      <!-- Calls the saveItem method on click that will store the article in storage-->
      <ion-button (click)="saveItem(newsArticle)" >Save Article </ion-button>
    
    
    </div>
      

  </div>

  




  
    



 
  
 
</ion-content>