<app-header2></app-header2>

<ion-content [fullscreen]="true" *ngIf="!loading" >




  <div class="newArticles" *ngFor="let newsArticle of news">
    <a href="{{newsArticle.link}}" target="blank" class="link">

      <ion-card >
        <img alt="News Picture" src="{{newsArticle.image_url}}" />
        <ion-card-header>
          <ion-card-title>{{newsArticle.description}}</ion-card-title>
          <ion-card-subtitle>{{newsArticle.title}}</ion-card-subtitle>
        </ion-card-header>
      
        
      </ion-card>
      

    </a>
    <ion-button (click)="saveItem(newsArticle.article_id)" >Save Article </ion-button>
  
  
  </div>
    




  
    



 
  
 
</ion-content>
