<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Latest news from {{country}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!loading">
  <ion-card *ngFor="let newsArticle of news">
    <img alt="News Picture" src="{{newsArticle.image_url}}" />
    <ion-card-header>
      <ion-card-title>{{newsArticle.description}}</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    
  </ion-card>
 
</ion-content>
