<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-input placeholder="Enter Country" [(ngModel)]="searchTerm"></ion-input>
  <br>
  <!--The button will route to the countries page-->
  
  <div class="buttons">
    <ion-button [routerLink]="['/countries/', searchTerm]" >Search</ion-button>
    <br>
    <ion-button [routerLink]="['/countries']"> Browse all Countries</ion-button>
    <ion-button [routerLink]="['/news']">Go to saved articles</ion-button>
  </div>
  

  
</ion-content>
