<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
        slot="start"
        src="https://unpkg.com/ionicons@5.5.2/dist/svg/arrow-back-outline.svg"
        (click)="goBack()">
      </ion-icon>
    <ion-title>settings</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-checkbox 
  (ionChange)="saveSelection('metric')" 
  [checked]="selectedTemperatureUnit === 'metric'"
  >Metric</ion-checkbox>
<br>
<ion-checkbox  
(ionChange)="saveSelection('imperial')" 
[checked]="selectedTemperatureUnit === 'imperial'"
  >Imperial</ion-checkbox>
<br>
<ion-checkbox  
(ionChange)="saveSelection('standard')" 
[checked]="selectedTemperatureUnit === 'standard'" 
>Standard</ion-checkbox>
<br>


</ion-content>
