<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
        slot="start"
        src="https://unpkg.com/ionicons@5.5.2/dist/svg/arrow-back-outline.svg"
        (click)="goBack()">
      </ion-icon>
    <ion-title>settings</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-list>
    <ion-radio-group value="start">
      <ion-item>
        <ion-radio value="start" labelPlacement="stacked" alignment="start">Aligned to the Start</ion-radio>
      </ion-item>
    </ion-radio-group>
  
    <ion-radio-group value="center">
      <ion-item>
        <ion-radio value="center" labelPlacement="stacked" alignment="center">Aligned to the Center</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>


</ion-content>
