<ion-header [translucent]="true">
  <!-- this ion icon allows shows an arrow that allow the user to navigate back to the previous page -->
  <ion-toolbar>
    <ion-icon
        slot="start"
        src="https://unpkg.com/ionicons@5.5.2/dist/svg/arrow-back-outline.svg"
        (click)="goBack()">
      </ion-icon>
    <ion-title>settings</ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Define a radio group bound to the 'selectedTemperatureUnit' variable -->
    <!-- Trigger 'saveSelection' method whenever the selection changes -->
  <ion-list>
     <!-- ion-radio-group binds the selected value to selectedTemperatureUnit using ngModel -->
      <!-- ionChange triggers saveSelection method whenever the selected value changes, passing the updated selectedTemperatureUnit -->
    <ion-radio-group  [(ngModel)]="selectedTemperatureUnit" (ionChange)="saveSelection(selectedTemperatureUnit)">
        

        <ion-radio value="metric" labelPlacement="stacked" alignment="center">Metric</ion-radio>
        <hr>
        <ion-radio value="imperial" labelPlacement="stacked" alignment="center">Imperial</ion-radio>
        <hr>
        <ion-radio value="standard" labelPlacement="stacked" alignment="center">Standard</ion-radio>
     
    </ion-radio-group>
  </ion-list>


</ion-content>
